hostname {{ name }}

ipv6 unicast-routing
ipv6 router rip RIPNG

{% for iface in interfaces %}
interface {{ iface.name }}
 ipv6 address {{ iface.ip }}/{{ iface.prefix }}
 ipv6 rip RIPNG enable
 no shutdown
{% endfor %}